$main_font: var(--primary_font);
$header_font: var(--main_heading_font);
$header_1_font: var(--heading_1_font);
$header_2_font: var(--heading_2_font);
$header_3_font: var(--heading_3_font);
$header_4_font: var(--heading_4_font);
$header_5_font: var(--heading_5_font);
$header_6_font: var(--heading_6_font);

$body_font_size: var(--body_font_size);
$header_1_font_size: var(--heading_1_font_size); 
$header_2_font_size: var(--heading_2_font_size);
$header_3_font_size: var(--heading_3_font_size);
$header_4_font_size: var(--heading_4_font_size);
$header_5_font_size: var(--heading_5_font_size);
$header_6_font_size: var(--heading_6_font_size);

$body_font_size_admin: var(--body_font_size_admin);
$header_1_font_size_admin: var(--heading_1_font_size_admin); 
$header_2_font_size_admin: var(--heading_2_font_size_admin);
$header_3_font_size_admin: var(--heading_3_font_size_admin);
$header_4_font_size_admin: var(--heading_4_font_size_admin);
$header_5_font_size_admin: var(--heading_5_font_size_admin);
$header_6_font_size_admin: var(--heading_6_font_size_admin);

$heading_1_color: var(--heading_1_color); 
$heading_2_color: var(--heading_2_color); 
$heading_3_color: var(--heading_3_color); 
$heading_4_color: var(--heading_4_color); 
$heading_5_color: var(--heading_5_color); 
$heading_6_color: var(--heading_6_color); 

$heading_1_font_weight: var(--heading_1_font_weight); 
$heading_2_font_weight: var(--heading_2_font_weight); 
$heading_3_font_weight: var(--heading_3_font_weight); 
$heading_4_font_weight: var(--heading_4_font_weight); 
$heading_5_font_weight: var(--heading_5_font_weight); 
$heading_6_font_weight: var(--heading_6_font_weight); 

$body_background_color: var(--body_background_color);

$black: #000000; 
$white: #ffffff;
$grey: #cccccc;
$dark_grey: #666666;
$base_color: var(--primary_site_color); 
$secondary_color: var(--secondary_color);

$link_color: var(--link_color);
$link_hover_color: var(--link_hover_color);

$main_nav_background_color: var(--main_nav_background_color); 
$main_nav_link_color: var(--main_nav_link_color);
$main_nav_link_hover_color: var(--main_nav_link_hover_color);

$top_nav_background_color: var(--top_nav_background_color); 
$top_nav_link_color: var(--top_nav_link_color);
$top_nav_link_hover_color: var(--top_nav_link_hover_color);

$footer_background_color: var(--footer_background_color); 
$footer_text_color: var(--footer_text_color);
$footer_link_color: var(--footer_link_color);
$footer_link_hover_color: var(--footer_link_hover_color);

$credits_background_color: var(--credits_background_color); 
$credits_text_color: var(--credits_text_color);
$credits_link_color: var(--credits_link_color);
$credits_link_hover_color: var(--credits_link_hover_color);

$button_color: var(--button_color);
$button_background_color: var(--button_background_color);
$button_hover_color: var(--button_hover_color);
$button_hover_background_color: var(--button_hover_background_color);

$divider_color: var(--divider_color);

$pagebreak_background_color: var(--pagebreak_background_color);
$pagebreak_heading_color: var(--pagebreak_heading_color);
$pagebreak_text_color: var(--pagebreak_text_color);
$pagebreak_link_color: var(--pagebreak_link_color);
$pagebreak_link_hover_color: var(--pagebreak_link_hover_color);
$pagebreak_button_text_color: var(--pagebreak_button_text_color);
$pagebreak_button_background_color: var(--pagebreak_button_background_color);
$pagebreak_button_text_hover_color: var(--pagebreak_button_text_hover_color);
$pagebreak_button_background_hover_color: var(--pagebreak_button_background_hover_color);
$pagebreak_background_attachment: var(--pagebreak_background_attachment);

$ul_li_bullet: var(--ul_li_bullet);


$team_background_color: var(--team_background_color);
$team_divider_line_color: var(--team_divider_line_color);
$team_border_radius: var(--team_border_radius);
$team_box_shadow_color: var(--team_box_shadow_color);
$team_image_border_radius: var(--team_image_border_radius);
$team_name_font: var(--team_name_font);
$team_name_color: var(--team_name_color); 
$team_content_font: var(--team_content_font);
$team_content_color: var(--team_content_color);
$team_expand_button_color: var(--team_expand_button_color);
$team_expand_button_background: var(--team_expand_button_background);
$team_expand_button_color_hover: var(--team_expand_button_color_hover);
$team_expand_button_background_hover: var(--team_expand_button_background_hover); 
$team_link_hover_color: var(--team_link_hover_color); 
$team_block_or_table: var(--team_block_or_table);  

$team_block_padding: var(--team_block_padding);  
$team_border_width: var(--team_border_width); 
$team_border_color: var(--team_border_color); 
$team_border_color_top: var(--team_border_color_top); 
$team_border_color_right: var(--team_border_color_right); 
$team_border_color_bottom: var(--team_border_color_bottom); 
$team_border_color_left: var(--team_border_color_left); 
$team_image_border_width: var(--team_image_border_width); 
$team_image_border_color: var(--team_image_border_color); 
$team_image_border_color_top: var(--team_image_border_color_top); 
$team_image_border_color_right: var(--team_image_border_color_right); 
$team_image_border_color_bottom: var(--team_image_border_color_bottom); 
$team_image_border_color_left: var(--team_image_border_color_left); 
$team_name_border_bottom_width: var(--team_name_border_bottom_width); 
$team_name_border_bottom_color: var(--team_name_border_bottom_color); 

$news_background_color: var(--news_background_color);
$news_background_hover_color: var(--news_background_hover_color);
$news_post_padding: var(--news_post_padding);

$news_border_radius: var(--news_border_radius);
$news_border_width: var(--news_border_width);
$news_border_color: var(--news_border_color);
$news_border_color_top: var(--news_border_color_top);
$news_border_color_right: var(--news_border_color_right);
$news_border_color_bottom: var(--news_border_color_bottom);
$news_border_color_left: var(--news_border_color_left);
$news_box_shadow_color: var(--news_box_shadow_color);

$news_featured_image_border_radius: var(--news_featured_image_border_radius);
$news_featured_image_border_width: var(--news_featured_image_border_width);
$news_featured_image_border_color: var(--news_featured_image_border_color);
$news_featured_image_overlay: var(--news_featured_image_overlay);
$news_featured_image_border_color_top: var(--news_featured_image_border_color_top);
$news_featured_image_border_color_right: var(--news_featured_image_border_color_right);
$news_featured_image_border_color_bottom: var(--news_featured_image_border_color_bottom);
$news_featured_image_border_color_left: var(--news_featured_image_border_color_left);

$news_button_text_color: var(--news_button_text_color);
$news_button_background_color: var(--news_button_background_color);
$news_button_text_color_hover: var(--news_button_text_color_hover);
$news_button_background_color_hover: var(--news_button_background_color_hover);

$news_title_font: var(--news_title_font);
$news_title_color: var(--news_title_color);
$news_title_hover_color: var(--news_title_hover_color);
$news_title_border_bottom_width: var(--news_title_border_bottom_width);
$news_title_border_bottom_color: var(--news_title_border_bottom_color);

$news_content_font: var(--news_content_font);
$news_content_color: var(--news_content_color);
$news_content_hover_color: var(--news_content_hover_color);

$news_post_date_color: var(--news_post_date_color);
$news_post_date_hover_color: var(--news_post_date_hover_color);
$news_list_categories_color: var(--news_list_categories_color);
$news_list_categories_hover_color: var(--news_list_categories_hover_color); 

$news_title_font_size: var(--news_title_font_size);
$news_title_font_size_admin: var(--news_title_font_size_admin);
$news_content_font_size: var(--news_content_font_size);
$news_content_font_size_admin: var(--news_content_font_size_admin);
$news_post_date_size: var(--news_post_date_size);
$news_post_date_size_admin: var(--news_post_date_size_admin);
$news_list_categories_size: var(--news_list_categories_size);
$news_list_categories_size_admin: var(--news_list_categories_size_admin);

$news_post_date_font: var(--news_post_date_font);
$news_list_categories_font: var(--news_list_categories_font); 

$projects_background_color: var(--projects_background_color);
$projects_background_hover_color: var(--projects_background_hover_color);
$projects_post_padding: var(--projects_post_padding);

$projects_border_radius: var(--projects_border_radius);
$projects_border_width: var(--projects_border_width);
$projects_border_color: var(--projects_border_color);
$projects_border_color_top: var(--projects_border_color_top);
$projects_border_color_right: var(--projects_border_color_right);
$projects_border_color_bottom: var(--projects_border_color_bottom);
$projects_border_color_left: var(--projects_border_color_left);
$projects_box_shadow_color: var(--projects_box_shadow_color);

$projects_featured_image_border_radius: var(--projects_featured_image_border_radius);
$projects_featured_image_border_width: var(--projects_featured_image_border_width);
$projects_featured_image_border_color: var(--projects_featured_image_border_color);
$projects_featured_image_overlay: var(--projects_featured_image_overlay);
$projects_featured_image_border_color_top: var(--projects_featured_image_border_color_top);
$projects_featured_image_border_color_right: var(--projects_featured_image_border_color_right);
$projects_featured_image_border_color_bottom: var(--projects_featured_image_border_color_bottom);
$projects_featured_image_border_color_left: var(--projects_featured_image_border_color_left);

$projects_button_text_color: var(--projects_button_text_color);
$projects_button_background_color: var(--projects_button_background_color);
$projects_button_text_color_hover: var(--projects_button_text_color_hover);
$projects_button_background_color_hover: var(--projects_button_background_color_hover); 

$projects_title_font: var(--projects_title_font);
$projects_title_color: var(--projects_title_color);
$projects_title_hover_color: var(--projects_title_hover_color);
$projects_title_border_bottom_width: var(--projects_title_border_bottom_width);
$projects_title_border_bottom_color: var(--projects_title_border_bottom_color);

$projects_content_font: var(--projects_content_font);
$projects_content_color: var(--projects_content_color);
$projects_content_hover_color: var(--projects_content_hover_color);

$projects_post_date_color: var(--projects_post_date_color);
$projects_post_date_hover_color: var(--projects_post_date_hover_color);
$projects_list_categories_color: var(--projects_list_categories_color);
$projects_list_categories_hover_color: var(--projects_list_categories_hover_color); 

$projects_title_font_size: var(--projects_title_font_size);
$projects_title_font_size_admin: var(--projects_title_font_size_admin);
$projects_content_font_size: var(--projects_content_font_size);
$projects_content_font_size_admin: var(--projects_content_font_size_admin);
$projects_post_date_size: var(--projects_post_date_size);
$projects_post_date_size_admin: var(--projects_post_date_size_admin);
$projects_list_categories_size: var(--projects_list_categories_size);
$projects_list_categories_size_admin: var(--projects_list_categories_size_admin);

$projects_post_date_font: var(--projects_post_date_font);
$projects_list_categories_font: var(--projects_list_categories_font); 

$resource_background_color: var(--resource_background_color);
$resource_background_hover_color: var(--resource_background_hover_color);
$resource_post_padding: var(--resource_post_padding);

$resource_border_radius: var(--resource_border_radius);
$resource_border_width: var(--resource_border_width);
$resource_border_color: var(--resource_border_color);
$resource_border_color_top: var(--resource_border_color_top);
$resource_border_color_right: var(--resource_border_color_right);
$resource_border_color_bottom: var(--resource_border_color_bottom);
$resource_border_color_left: var(--resource_border_color_left);
$resource_box_shadow_color: var(--resource_box_shadow_color);

$resource_featured_image_border_radius: var(--resource_featured_image_border_radius);
$resource_featured_image_border_width: var(--resource_featured_image_border_width);
$resource_featured_image_border_color: var(--resource_featured_image_border_color);
$resource_featured_image_overlay: var(--resource_featured_image_overlay);
$resource_featured_image_border_color_top: var(--resource_featured_image_border_color_top);
$resource_featured_image_border_color_right: var(--resource_featured_image_border_color_right);
$resource_featured_image_border_color_bottom: var(--resource_featured_image_border_color_bottom);
$resource_featured_image_border_color_left: var(--resource_featured_image_border_color_left);

$resource_button_text_color: var(--resource_button_text_color);
$resource_button_background_color: var(--resource_button_background_color);
$resource_button_text_color_hover: var(--resource_button_text_color_hover);
$resource_button_background_color_hover: var(--resource_button_background_color_hover);

$resource_title_font: var(--resource_title_font);
$resource_title_color: var(--resource_title_color);
$resource_title_hover_color: var(--resource_title_hover_color);
$resource_title_border_bottom_width: var(--resource_title_border_bottom_width);
$resource_title_border_bottom_color: var(--resource_title_border_bottom_color);

$resource_content_font: var(--resource_content_font);
$resource_content_color: var(--resource_content_color);
$resource_content_hover_color: var(--resource_content_hover_color);

$resource_post_date_color: var(--resource_post_date_color);
$resource_post_date_hover_color: var(--resource_post_date_hover_color);
$resource_list_categories_color: var(--resource_list_categories_color);
$resource_list_categories_hover_color: var(--resource_list_categories_hover_color); 

$resource_title_font_size: var(--resource_title_font_size);
$resource_title_font_size_admin: var(--resource_title_font_size_admin);
$resource_content_font_size: var(--resource_content_font_size);
$resource_content_font_size_admin: var(--resource_content_font_size_admin);
$resource_post_date_size: var(--resource_post_date_size);
$resource_post_date_size_admin: var(--resource_post_date_size_admin);
$resource_list_categories_size: var(--resource_list_categories_size);
$resource_list_categories_size_admin: var(--resource_list_categories_size_admin);

$resource_post_date_font: var(--resource_post_date_font);
$resource_list_categories_font: var(--resource_list_categories_font); 

$container_width: var(--container_width); 
$home_container_width: var(--home_container_width); 
$headerfooter_container_width: var(--headerfooter_container_width); 