$main_font: var(--primary_font);
$header_font: var(--main_heading_font);
$header_1_font: var(--heading_1_font);
$header_2_font: var(--heading_2_font);
$header_3_font: var(--heading_3_font);
$header_4_font: var(--heading_4_font);
$header_5_font: var(--heading_5_font);
$header_6_font: var(--heading_6_font);

$body_font_size: var(--body_font_size);
$header_1_font_size: var(--heading_1_font_size); 
$header_2_font_size: var(--heading_2_font_size);
$header_3_font_size: var(--heading_3_font_size);
$header_4_font_size: var(--heading_4_font_size);
$header_5_font_size: var(--heading_5_font_size);
$header_6_font_size: var(--heading_6_font_size);

$body_font_size_admin: var(--body_font_size_admin);
$header_1_font_size_admin: var(--heading_1_font_size_admin); 
$header_2_font_size_admin: var(--heading_2_font_size_admin);
$header_3_font_size_admin: var(--heading_3_font_size_admin);
$header_4_font_size_admin: var(--heading_4_font_size_admin);
$header_5_font_size_admin: var(--heading_5_font_size_admin);
$header_6_font_size_admin: var(--heading_6_font_size_admin);

$heading_1_color: var(--heading_1_color); 
$heading_2_color: var(--heading_2_color); 
$heading_3_color: var(--heading_3_color); 
$heading_4_color: var(--heading_4_color); 
$heading_5_color: var(--heading_5_color); 
$heading_6_color: var(--heading_6_color); 

$heading_1_font_weight: var(--heading_1_font_weight); 
$heading_2_font_weight: var(--heading_2_font_weight); 
$heading_3_font_weight: var(--heading_3_font_weight); 
$heading_4_font_weight: var(--heading_4_font_weight); 
$heading_5_font_weight: var(--heading_5_font_weight); 
$heading_6_font_weight: var(--heading_6_font_weight); 

$body_background_color: var(--body_background_color);

$black: #000000; 
$white: #ffffff;
$grey: #cccccc;
$dark_grey: #666666;
$base_color: var(--primary_site_color); 
$secondary_color: var(--secondary_color);

$link_color: var(--link_color);
$link_hover_color: var(--link_hover_color);

$main_nav_background_color: var(--main_nav_background_color); 
$main_nav_link_color: var(--main_nav_link_color);
$main_nav_link_hover_color: var(--main_nav_link_hover_color);

$top_nav_background_color: var(--top_nav_background_color); 
$top_nav_link_color: var(--top_nav_link_color);
$top_nav_link_hover_color: var(--top_nav_link_hover_color);

$footer_background_color: var(--footer_background_color); 
$footer_text_color: var(--footer_text_color);
$footer_link_color: var(--footer_link_color);
$footer_link_hover_color: var(--footer_link_hover_color);

$credits_background_color: var(--credits_background_color); 
$credits_text_color: var(--credits_text_color);
$credits_link_color: var(--credits_link_color);
$credits_link_hover_color: var(--credits_link_hover_color);

$button_color: var(--button_color);
$button_background_color: var(--button_background_color);
$button_hover_color: var(--button_hover_color);
$button_hover_background_color: var(--button_hover_background_color);

$divider_color: var(--divider_color);

$pagebreak_background_color: var(--pagebreak_background_color);
$pagebreak_heading_color: var(--pagebreak_heading_color);
$pagebreak_text_color: var(--pagebreak_text_color);
$pagebreak_link_color: var(--pagebreak_link_color);
$pagebreak_link_hover_color: var(--pagebreak_link_hover_color);
$pagebreak_button_text_color: var(--pagebreak_button_text_color);
$pagebreak_button_background_color: var(--pagebreak_button_background_color);
$pagebreak_button_text_hover_color: var(--pagebreak_button_text_hover_color);
$pagebreak_button_background_hover_color: var(--pagebreak_button_background_hover_color);
$pagebreak_background_attachment: var(--pagebreak_background_attachment);

$ul_li_bullet: var(--ul_li_bullet);